
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  font-size: 62.5%;
}
body {
font-size: 1.6rem;
background: #c2b7b7;
}

body {
line-height: 2.4rem;
}

a {
  color: inherit;
  text-decoration: none;
}
h1{margin-bottom: 2rem;}

.errormsg{
  color: red;
}
.container{
  width: 100%;
  max-width: 85rem;
  margin: auto;
  background: white;
}
main{
  padding: 2rem;
}
footer {text-align: center; background: #5a5858; color: white; padding: 1rem 0;}
